#adsense-mobil
{
	position: fixed;
	z-index: 999;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #222;
	display: none;
	max-height: 100px;
}

/****************************************************************
MEDIA QUERYS
****************************************************************/

@media (min-width: 300px) and (max-width: 480px){
	#adsense-mobil
	{
		display: block;
	}
}
@media (min-width: 481px) and (max-width: 750px){
	#adsense-mobil
	{
		display: block;
	}
}
@media (min-width: 751px) and (max-width: 950px){
		
}