<footer>
	<p><span><a href="/">Codeando</a> 2018</span></p>
	<p>Siguenos en nuestro canal de youtube</p>
	<div class="g-ytsubscribe" data-channel="compusource" data-layout="full" data-count="default"></div>
	<p style="margin-top:10px; margin-bottom:0; padding-bottom:0; text-align:center; line-height:0"><a target="_blank" href="http://feeds.feedburner.com/~r/CodeandoPlataformaDeCursos/~6/1"><img src="http://feeds.feedburner.com/CodeandoPlataformaDeCursos.1.gif" alt="Codeando | Plataforma de cursos" style="border:0"></a></p><p style="margin-top:5px; padding-top:0; font-size:x-small; text-align:center"><a href="https://feedburner.google.com/fb/a/headlineanimator/install?id=i981oeb1afkciknnf9l9fjtcgo&amp;w=1" onclick="window.open(this.href, 'haHowto', 'width=520,height=600,toolbar=no,address=no,resizable=yes,scrollbars'); return false" target="_blank">&uarr; Grab this Headline Animator</a></p>
</footer>