<div id="search">
	<form action="http://www.google.com.mx" id="search-box" target="_blank">
	  <div>
	    <input type="hidden" name="cx" value="partner-pub-0593566584451788:4085293215" />
	    <input type="hidden" name="ie" value="UTF-8" />
	    <input type="text" id="search-q" name="q" size="55" placeholder="Ingrese su busqueda" required/>
	    <i id="submit" class="icono-search"></i>
	    <i id="search-close" class="icono-cross"></i>
	  </div>
	</form>
</div>
<div id="search-button">
	<i class="icono-search"></i>
</div>

