/* -- General Layout -- */

/* Related */

#related{
  
}
#related ul{
  list-style: none;
}
#related ul li{
  padding: 5px;
}
#related a{
  transition: all 0.25s ease-in-out;
}
#related a:hover{
  cursor: pointer;
  color: #5F4F6F;
  margin-left: 15px;
}

/* Search */

#search{
  background-color: rgba(0,0,0,0.7);
  padding: 10px 0;
  text-align: center;
  transition: 0.25s ease-in-out;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
#search #search-box
{
  max-width: 940px;
  margin: 0 auto;
}
#search #search-box input[type="text"]{
  color: #fcfcfc;
  background-color: #4b4b4b;
  padding: 5px 10px;
  border: 0px;
  border-bottom: 3px solid #fcfcfc;
  width: 80%;
}
#search #search-box input[type="text"]:focus{

}
#search #search-box i:hover{
  cursor: pointer;
  opacity: 0.8;
}
#search #search-box i{
  color: #fcfcfc;
}
#search #search-box #search-close{
  float: right;
  padding-right: 10px;
  display: none;
}
#search #search-box input[type="submit"]{
  background-color: #4b4b4b;
  color: #fcfcfc;
  border: 1px solid #4b4b4b;
  border-radius: 5px;
}
#search #search-box input[type="submit"]:hover{
  cursor: pointer;
  background-color: #5c5c5c;
}
#search-button
{
  @include icon-position(right);
}
#search-button:hover
{
  cursor: pointer;
  opacity: 0.7;
}
#search-button i
{
  color: #8c8c8c;
  font-weight: 600;
}

/* Navigation */

#nav, #nav-left { 
  a {
    display: block;
    color: $background-color;
    padding: 0.33334em 0;
    font-size: 1.5em;
    font-weight: 400;
    @media (min-width: 940px) {
      font-size: 1em;
    }
    &:hover {
      background-color: lighten($main-color, 5%);
    }
  }
  span {
      font-weight: 200;
    }
}

#nav {
  @include nav-position(right);
}

#nav-left {
  @include nav-position(left);
}

/* Toggle class to open menu */

#nav.menu-open {
  @include open(-14rem);
}

#nav-left.menu-open-left {
  @include open(14rem);
}

/* Separator after menu */

#nav-list:after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: $background-color;
}

/* Icon menu */

#nav-menu {
  @include icon-position(right);
}

#nav-menu-left {
  @include icon-position(left);
}
#nav-menu:hover,
#nav-menu-left:hover
{
  cursor: pointer;
}

#menu {
  height: 4px;
  width: 1.5em;
  background-color: lighten($text-color, 35%);
  margin-top: 8px;
  &:after, &:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 1.5em;
    background-color: lighten($text-color, 35%);
    transition: all 0.3s ease-in;
  }
  &:before {
    top: -8px;
  }
  &:after {
    top: 4px;
  }
  &.btn-close {
    background: none;
  }
  &.btn-close:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: $background-color;
  }
  &.btn-close:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: $background-color;
  }
}

/* Main content */

.fixed {
  position: fixed;
  width: 100%;
  @media (min-width: 940px) {
    position: static;
  }
}

#container {
	margin:0 auto;
	max-width: 930px;
	padding: 0 1.5rem;
}

#header {
  background-color: #3a264f;
	text-align: center;
  padding: 10px 0;
  position: relative;
  margin-bottom: 15px;
  a {
  	text-decoration: none;
  	color: #fcfcfc;
  	display: inline-block;
  }
  img {
  	max-height: 50px;
  	margin: 0 auto;
  	display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
  }
  h1 {
    display: inline-block;
  	font-family: 'Lato','Signika', sans-serif; //Emerald logo font
    font-weight: 600;
    vertical-align: middle;
    color: #fcfcfc;
  }
  h2 {
    display: inline-block;
    font-family: 'Lato', 'Signika', sans-serif; //Emerald logo font
    font-weight: 600;
    vertical-align: middle;
    color: #fcfcfc;
    font-size: 2.25em;
    line-height: 1.3333em;
    padding: 0.33335em 0;
  }
}

/* Posts */

#posts {
  li {
    list-style-type: none;
  }
}
#posts img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}
#post-content {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  font-weight: 500;
}

#post-page {
  margin-bottom: 1.5em;
  @media (min-width: 940px) {
      margin-bottom: 1.3334em;
    }
}
#post-page #author
{
  color: #737373;
}
#post-page h1
{
  font-size: 1.7em;
}
#post-page strong
{
  font-weight: 600;
  color: #444;
}
#post-page h2
{
  font-size: 2.25em; 
}
#post-page li {
  font-size: 20px !important;
  padding-bottom: 14px;
}

.post+.post:before {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }

.by-line {
  display: block;
  color: lighten($text-color, 25%);
  line-height: 1.5em; /* 24px/16px */
  margin-bottom: 1.5em; /* 24px/16px */
  font-weight: 200;
  @media (min-width: 940px) {
    display: block;
    color: lighten($text-color, 25%);
    line-height: 1.3334em; /* 24px/18px */
    margin-bottom: 1.3334em; /* 24px/18px */
    font-weight: 200;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

code {
  color: #ececec;
  background-color: lighten($background-color, 35%);
}

/* Set the vertical rhythm (and padding-left) for lists inside post content */

.content h2,
.content h3,
.content h4,
.content h5
{
  color: #176DEE;
}
.content p
{
  font-size: 20px !important;
  line-height: 1.6em;
  text-align: justify;
  text-rendering: optimizeLegibility;
}
.content p strong
{
  font-size: 21px !important;
  font-weight: bold;
  color: #000;
}
.content p a
{
  transition: 0.25s all ease-in-out;
}
.content p a:hover
{
  background-color: $main-color;
  color: #fff;
  border-radius: 3px;
}
.content ul, .content ol {
  line-height: 1.5em; /* 24px/16px */
  padding-left: 1.5em;
  @media (min-width: 940px) {
    line-height: 1.33334em; /* 24px/18px */
  }
}
.content img
{
  box-shadow: 0 2px 6px #ddd;
}
.content .redes
{
  text-align: center;
}
.content .redes-background
{
  background-color: #F01717;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.content .redes-background a
{
  color: #ccc;
  transition: all 0.25s ease-in
}
.content .redes-background a:hover
{
  color: #eee;
}
.content .redes .align
{
  display: inline-block;
}

/* Pages */

#page ul, #page ol {
  padding-left: 1.5em;
}

/* Paginator */

.pagination {
  text-align: center;
  margin: 2.666668em;
  span {
    background-color: darken($background-color, 5%);
    color: $text-color;
  }
  a:hover {
    background-color: lighten($main-color, 5%);
  }
}
.page-item {
  background-color: $main-color;
  color: $background-color;
  padding: 4px 8px;
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

/* Footer */

footer {
  background-color: $main-color;
  color: $background-color;
  text-align: center;
  padding: 0.6667em 0;
}
footer a
{
  color: $background-color;
  transition: all 0.25s ease;
}
footer a:hover
{
  cursor: pointer;
  color: #ccc;
}

/* Tags */

.tags
{
  list-style: none;
}
.tags li
{
  background-color: $main-color;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  margin-right: 5px;
  border-radius: 5px;
}
.tags li:hover
{
  cursor: pointer;
  opacity: 0.7;
}
.tags a
{
  color: #fff;
}