/*
 * A Github stylesheet to highlight code snippet
 * https://github.com/mojombo/tpw/blob/master/css/syntax.css
 */

// .highlight  { background-color: #FFF; }
.highlight
{
	overflow-x: auto;
	background-color: #272822;
	box-shadow: 0 2px 6px #ddd;
	border-radius: 5px;
	font-family: 'Source';
	font-size: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
