/*
 * A Github stylesheet to highlight code snippet
 * https://github.com/mojombo/tpw/blob/master/css/syntax.css
 */

// .highlight  { background-color: #FFF; }
.highlight
{
	overflow-x: auto;
	background-color: #272822;
	border-radius: 5px;
}
