---
layout: default
---
<article id="post-page">
	<h1>{{ page.title }}</h1>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}<br>Autor: {{ page.author }}</time>
	
	<ul class="tags">
		{% for tag in page.tags %}
			<li>
				<a href="{{ site.baseurl }}tag/{{ tag }}">{{ tag }}</a>
			</li>
		{% endfor %}
	</ul>

	<div class="content">
		<!-- Bloque de anuncios 1 -->
		{% include adsense.html %}
		<br>
		{{ content }}

		<!-- Bloque de anuncios 2 -->
		{% include adsense_2.html %}
		<br>
		<div class="redes-background">
			Si te sirvió el articulo, ayudanos a compartir!
			<div class="redes">
				<div class="fb-follow align" data-href="https://web.facebook.com/programacion.azteca/" data-layout="button_count" data-size="large" data-show-faces="false"></div>
				<a href="https://twitter.com/share" class="twitter-share-button align" data-via="codeand_org" data-size="large">Tweet</a>
				<div class="g-follow align" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/104925427139932038787" data-rel="publisher"></div>
				<div class="g-plusone align"></div>
			</div>
		</div>
	</div>
	<!-- Comentarios -->
	{% include disqus.html %}
</article>

